@model TwitterSentimentsCore.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TwitterHandle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterHandle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
</div>
<p>
    <a asp-controller="Requests" asp-action="Index">Back to List</a>
</p>

@{ var url = "https://twitter.com/" + Model.TwitterHandle; }

<div style="width: 100%; height: 500px; overflow-y: scroll; text-align: center;">
    <div style="margin: auto;width:500px;">
        <a class="twitter-timeline" href="@url">Tweets by @Model.TwitterHandle</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
